{% extends 'base.html' %}

{% block title %}Home - Trading App{% endblock %}

{% block content %}
    <h1>Welcome to the Trading App</h1>

    <!-- Display 7 rows of market data -->
     <div class="container" style="color: brown;">
      <h2>Market Data - Master Instruments</h2>
     </div>
    
    <table class="table table-striped table-sm table-hover">
        <thead class="thead">
            <tr>
                <th>ExchangeSegment</th>
                <th>ExchangeInstrumentID</th>
                <th>InstrumentType</th>
                <th>Name</th>
                <th>Description</th>
                <th>Series</th>
                <th>NameWithSeries</th>
                <th>InstrumentID</th>
                <th>PriceBandHigh</th>
                <th>PriceBandLow</th>
                <th>FreezeQty</th>
                <th>TickSize</th>
                <th>LotSize</th>
                <th>Multiplier</th>
                <th>UnderlyingInstrumentId</th>
                <th>UnderlyingIndexName</th>
                <th>ContractExpiration</th>
                <th>StrikePrice</th>
                <th>OptionType</th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in instruments %}
                <tr>
                    <td>{{ instrument.ExchangeSegment }}</td>
                    <td>{{ instrument.ExchangeInstrumentID }}</td>
                    <td>{{ instrument.InstrumentType }}</td>
                    <td>{{ instrument.Name }}</td>
                    <td>{{ instrument.Description }}</td>
                    <td>{{ instrument.Series }}</td>
                    <td>{{ instrument.NameWithSeries }}</td>
                    <td>{{ instrument.InstrumentID }}</td>
                    <td>{{ instrument.PriceBandHigh }}</td>
                    <td>{{ instrument.PriceBandLow }}</td>
                    <td>{{ instrument.FreezeQty }}</td>
                    <td>{{ instrument.TickSize }}</td>
                    <td>{{ instrument.LotSize }}</td>
                    <td>{{ instrument.Multiplier }}</td>
                    <td>{{ instrument.UnderlyingInstrumentId }}</td>
                    <td>{{ instrument.UnderlyingIndexName }}</td>
                    <td>{{ instrument.ContractExpiration }}</td>
                    <td>{{ instrument.StrikePrice }}</td>
                    <td>{{ instrument.OptionType }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
