<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Brand Name -->
        <a class="navbar-brand" href="{% url 'home' %}">Trading App</a>
  
        <!-- Toggle Button for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home Link -->
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <!-- Market Data Link -->
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'market_data' %}active{% endif %}" href="{% url 'market_data' %}">Market Data</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  